uploadsDir/*
!uploadsDir/img01.jpg
!uploadsDir/img02.jpg
!uploadsDir/img03.jpg
!uploadsDir/img04.jpg
!uploadsDir/img05.webp
!uploadsDir/img06.jpg
!uploadsDir/img07.jpeg
!uploadsDir/img08.jpg
!uploadsDir/img09.webp
!uploadsDir/img10.jpg
!uploadsDir/img11.jpg
!uploadsDir/img12.jpg
!uploadsDir/img13.jpg
!uploadsDir/img14.webp
!uploadsDir/img15.webp
!uploadsDir/img16.jpg
!uploadsDir/img17.jpg
!uploadsDir/img18.jpg
!uploadsDir/img19.jpg
!uploadsDir/img20.webp
!uploadsDir/img21.webp
!uploadsDir/img22.webp
!uploadsDir/img23.jpg
!uploadsDir/img24.jpg
!uploadsDir/img25.jpg
!uploadsDir/img26.avif
!uploadsDir/img27.jpg
!uploadsDir/img17.jpg

node_modules